<configuration>
  <conversionRule conversionWord="coloredLevel"
                  converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{20} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <!-- Play internals -->
  <logger name="play" level="INFO" />

  <!-- Our application packages -->
  <logger name="controllers"  level="DEBUG" />
  <logger name="services"     level="DEBUG" />
  <logger name="repositories" level="DEBUG" />

  <!-- Suppress noisy third-party libraries -->
  <logger name="com.zaxxer.hikari"  level="WARN" />
  <logger name="io.grpc"            level="WARN" />
  <logger name="com.google"         level="WARN" />
  <logger name="com.codahale"       level="WARN" />
  <logger name="com.datastax"       level="WARN" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
